@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>@Model.Product.Name</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Categories</h2>
        
        @foreach(Category cat in @Model.Product.Categories){
            @cat.Name
            @:<br/>
        }
    </div>
    <div class="col-md-6">
        Add Category:<br/>
        <select name="" >
        @foreach(Category cat in @Model.Categories){
            @:<option value="@cat.CategoryId
            @:">
            @cat.Name
            @:</option>
        }
        </select>
    </div>
</div>