@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1>@Model.Product.Name</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Categories</h2>
        
        @foreach(ProductCategory prod in @Model.Product.ProductCategory){
            @prod.Category.Name
            @:<br/>
        }
    </div>
    <div class="col-md-6">
        <form action="/" method="POST">
            <input type="hidden" name="ProductId" value="@Model.Product.ProductId" />
            Add Category:<br/>
            <select name="CategoryId" >
                @foreach(Category cat in @Model.Categories){
                    @:<option value="@cat.CategoryId
                    @:">
                    @cat.Name
                    @:</option>
                }
            </select>
            <input type="submit" value="Add" />
        </form>
    </div>
</div>